
.about__page,
.purchase__page {
   .page__container {
      .viewed-inner {
         margin: 0;
         width: 120%;

         @media (max-width: $tablet) {
            width: 110%;
         }
         @media (max-width: $mobile) {
            width: 100%;
         }
      }
      
      .viewed__container {
         padding: 0;
         margin-bottom: rem(20);
         .swiper-button-prev {
            left: 0;
         }
         .swiper-button {
            right: 100px;
            transform: translateY(-50%);
            @media (max-width: $tablet) {
               right: 0;
            }
         }

      }
      
   }
   .page__content{
      padding: 0;
   }
   .page__content-text {
      margin-bottom: rem(30);
   }
}
.nomenclature__green {
   background: $green;
   max-width: rem(920);
   padding: 53px 47px;
   color: $white;
   margin-bottom: rem(55);
   font-family: 'ProstoOne';

   @media (max-width: $tabletV) {
      max-width: 100%;
   }
   @media (max-width: $mobile) {
      font-size: rem(16);
      padding: 40px 30px;
      margin-top: rem(50);
   }
   @media (max-width: $mobileSmall) {
      max-width: 110%;
      width: 110%;
      margin-left: -15px;
   }
}
.nomenclature__green-title {
   font-size: rem(40);
   margin-bottom: rem(35);
   @media (max-width: $tablet) {
      font-size: rem(24);
      line-height: rem(28);
      margin-bottom: rem(25);
   }
}
.nomenclature__green-list {
   max-width: 100%;
   margin-left: rem(22);
   columns: 2;
   @media (max-width: $mobile) {
      columns: 1;
      margin-left: rem(18);
   }
}
.nomenclature__green-item {
   list-style: square;
   font-size: rem(22);
   padding: 15px 0 15px 15px;

   @media (max-width: $tabletV) {
      font-size: rem(18);
   }
   @media (max-width: $mobile) {
      font-size: rem(16);
      line-height: rem(20);
      padding: 10px 0 10px 12px;
   }
}

.page__content-card{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
   gap: 22px;
   margin-bottom: rem(85);

   @media (max-width: $tablet) {
      gap: 12px;
   }

   @media (max-width: $mobile) {
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
   }
   @media (max-width: 525px) {
      grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
   }
}