// Заголовки, общие БЄМ блоки и проче...

@mixin btn($color, $percent){

    display: inline-block;
    padding: rem(15);
    background: $color;
    color: $white;
    font-size: rem(18);
    font-weight: 700;
    transition: background 0.3s ease;

    &:hover{
        background: lighten($color, $percent);
    }
}

.section__title{
    color: $title;
    font-family: 'ProstoOne';
    font-size: rem(50);
    margin-bottom: rem(55);
    line-height: rem(50);

    @media (max-width: $mobile) {
        font-size: rem(30);
    }
}

.orange-text {
    color: $orange;
}
.grey-text{
    color: $grey;
}
.text__blure{
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(3px);
    color: $text;
    position: relative;
    font-size: rem(22);
    line-height: rem(35);

    p{
        margin-bottom: rem(40);
    }
}
.text__brown{
    background: $title;
    color: $white;
    position: relative;
    padding: 50px;

    h2{
        font-size: rem(40);
        font-family: 'ProstoOne';
    }
    p{
        font-size: rem(22);
    }
    &-list{
        margin-left: 20px;
    }
    &-item{
        font-size: rem(22);
        font-family: 'ProstoOne';
        margin-bottom: rem(25);
        list-style: square outside;
        padding-left: 10px;

        &:last-child{
            margin-bottom: 0;
        }
    }
}