.price__catalog {
    margin-bottom: rem(90);
    .catalog__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: rem(95);
    }
    .catalog__item {
        margin-right: rem(15);
        margin-bottom: rem(15);
        a{
            display: inline-block;
            color: $green;
            font-size: rem(20);
            padding: 15px 25px;
            border: 1px solid $green;
            background: rgba(68, 123, 70, 0.1);
            transition: background 0.3s ease;
    
            &:hover{
                background: rgba(255, 255, 255, 0.2);
            }
        }
    }

    &-buttons{
        display: flex;
        margin-top: rem(30);

        .btn{
            width: rem(329);
            text-align: center;
        }

        .btn-white{
            @include btn($white, 1%);
            color: $green;
            border: 1px solid $green;
            font-size: 20px;

            &:hover{
                background: $green;
                color: $white;
            }
        }
        .btn-green{
            margin-right: rem(20);
            font-size: 20px;
            &:hover{
                background: $orange;
            }
        }
        @media (max-width: $tablet) {
            .btn{
                width: rem(221);
                font-size: rem(14);
            }
        }
        @media (max-width: $mobile) {
            .btn{
                width: auto;
                flex: 1 0 0%;
                padding: 15px 10px;
            }
            .btn-green{
                display: block;
            }
        }
    }

    @media (max-width: $tablet) {
        margin-bottom: rem(50);

        .catalog__list{
            margin-bottom: rem(60);
        }
    }
}

.tabs__navigation{
    margin-bottom: rem(50);
}
.tabs__title{
    color: $green;
    font-size: rem(26);
    font-weight: 600;
    padding-bottom: 14px;

    &:first-child{
        margin-right: rem(28);
    }
    &._tab-active{
        border-bottom: 4px solid $orange;
    }

    @media (max-width: $mobile) {
        font-size: rem(18);
        color: $text;

        &:first-child{
            margin-right: rem(45);
        }
    }
}

.table-wrap {
    text-align: center;
    display: inline-block;
    background-color: #fff;
    color: #000;
    width: 100%;
    border: 3px solid #E4E4EF;
}

@media (max-width: $tabletV) {
    .table-wrap {
        overflow-x: auto;
        width: 105%;
    }
}

table.table-1 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
table.table-1 tr {
	border-bottom: 1px solid #E4E4EF;
    border-top: 1px solid #E4E4EF;
    border-collapse: collapse;

    &:nth-child(odd){
        background: #F4F4F4;
    }
}
table.table-1 td,
table.table-1 th{
    font-size: rem(22);
    text-align: left;
    min-width: rem(200);
    vertical-align: baseline;

    @media (max-width: $tablet) {
        font-size: rem(18);
        line-height: rem(22);
        min-width: rem(162);
    }
}
table.table-1 th{
    padding: 20px 8px;
    background: #E8E8E8;
    font-weight: 700;
    color: $text;
}
table.table-1 td {
    color: #2D2D2D;
    padding: 8px;
}