.viewed {
   padding: 50px 0;
}
.viewed__container {
   position: relative;
   height: 100%;

   .swiper-button{
      background: green;
      top: 240px;
      right: 0;
      width: rem(65);
   }
   .swiper-button-prev {
      left: 0;
   }
   .swiper-button-next {
      
   }
}
.viewed-inner{
   position: relative;
   height: auto;
   // width: 1865px;
   @include adaptiveValue("width", 1865, 500, 1430, 320);
   overflow: hidden;
}
.viewed__slider {
   
}
.viewed__wrapper {
}
.swiper-wrapper {
   display: flex;
}
.viewed__slide {
   // width: calc(100% / 3);
}
.viewed__card {
   width: 100%;
   background: $white;
   img,
   picture{
      margin-bottom: rem(35);
      width: 100%;
      height: auto;
   }
}
.viewed__card-title {
   font-size: rem(25);
   font-weight: 500;
   margin-bottom: rem(30);

   @media (max-width: $mobile) {
      font-size: rem(18);
   }
}
.viewed__card-price {
   display: flex;
   align-items: center;
   margin-bottom: rem(24);
}

.viewed__card-sum{
   font-weight: 500;
   font-size: rem(32);
   margin-right: rem(20);

   &.orange-text{
      font-weight: 700;
   }

   @media (max-width: $mobile) {
      font-size: rem(22);
      margin-right: rem(15);
   }
}

.viewed__card-text {
   font-size: rem(14);
   @media (max-width: $mobile) {
      font-size: rem(12);
   }
}

.btn-card {
   @include btn($green, 1%);
   width: 100%;
   text-align: center;
   &:hover{
      background: $orange;
   }
}

@media (max-width: $mobile) {
   .swiper-scrollbar {
      height: 5px;
      background: #CFCCCF;
      margin-top: rem(15);
   }
   
   .swiper-scrollbar-drag {
      height: 100%;
      background: $grey;
   }
}
